@import "{}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss";
@import "{}/node_modules/angular2-pagination/build/pagination-controls-cmp.scss";
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

@import "{}/node_modules/@angular2-material/core/overlay/overlay.scss";
// @import "{}/node_modules/@angular2-material/core/live-announcer/live-announcer.css";


.pull-right .login-buttons .content-container {
  margin-left: -250px;
}


.demo-root {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  md-sidenav {
    min-width: 15%;

    [md-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {
    padding: 32px;
  }

  md-toolbar {
    md-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
}

$color1 : #2F2933;
$color2 : #01A2A6;
$color3 : #29D9C2;
$color4 : #BDF271;
$color5 : #FFFFA6;
$color6 : #2F2933;
$color7 : #FF6F69;

html, body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

.navbar {
  background-color: #ffffff;
  border-bottom: #eee 1px solid;
  color: $color3;
  font-family: 'Muli', sans-serif;
  a {
    color: $color3;
    text-decoration: none !important;
  }

  .navbar-right-container {
    position: absolute;
    top: 17px;
    right: 17px;
  }
}

@import "../parties-list/_parties-list";
@import "../party-details/_party-details";
@import "../md/button/button-demo.scss";
